@charset "utf-8";
/* CSS Document */
body {
	color: antiquewhite;
	font-family: 'Raleway' ;
	background-color: dimgrey;
	
}
img {
    max-width: 100%;
    max-height: 100%;
	
}

.main_title {
	text-align: center;
	margin-top:10px;
}
.left_side_logo {
	margin-left:5%;
	width: 25%;
	height: 50px;
}
.navbar {
	margin-right: 5%;
	width:75%;
	height: 50px;
	float: right;
}
.nav_list {
	color: black;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	padding: 0;
	background-color: antiquewhite;
}
.nav_item {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}
.nav_item a {
	display: block;
	color: #666;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
}
.current {
	background-color:navajowhite;
}
.nav_item a:hover:not(.active) {
	background-color: #ddd;
}

.nav_item a.active {
	color: white;
	background-color: #4CAF50;
}
.card-me {
	border-radius: 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

